div.climatograph-spinner
	div.bounce1
	div.bounce2
	div.bounce3
a.close-button

if data === null
	p.error No data available.
else 
	- var months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 'August', 'September', 'October', 'November', 'December'];
	- var monthsShort = ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec'];

	h1.climatograph-title= 'Climate data for ' + city + ', ' + country

	div.climatograph-select-year
		span Select year
		select#year
			- var currentYear = new Date().getFullYear();
			- for(var i=2013; i<=currentYear; i++) {
				option(value="#{i}") #{i} 
			- }

	table.climatograph-data
		thead
			tr
				th Month
				each month in monthsShort
					th= month
				th Avg

		tbody.climatograph-temperature
			tr
				td Record high [°C]
				each temprmax, index in monthsShort
					td= data[index].temperatureRmax
				td= data.sums.temperatureRmax
			tr
				td Average high [°C]
				each tempmax, index in monthsShort
					td= data[index].temperatureMax
				td= data.sums.temperatureMax
			tr
				td Daily mean [°C]
				each tempavg, index in monthsShort
					td= data[index].temperatureAvg
				td= data.sums.temperatureAvg
			tr
				td Average low [°C]
				each tempmin, index in monthsShort
					td= data[index].temperatureMin
				td= data.sums.temperatureMin
			tr
				td Record low [°C]
				each temprmin, index in monthsShort
					td= data[index].temperatureRmin
				td= data.sums.temperatureRmin

		tbody.climatograph-days
			tr
				td Ice days (Tmax < 0°C)
				each temprmin, index in monthsShort
					td= data[index].temperatureIce
				td= data.sums.temperatureIce
			tr
				td Frost days (Tmin < 0°C)
				each temprmin, index in monthsShort
					td= data[index].temperatureFrost
				td= data.sums.temperatureFrost
			tr
				td Cold days (Tmax < 10°C)
				each temprmin, index in monthsShort
					td= data[index].temperatureCold
				td= data.sums.temperatureCold
			tr
				td Summer days (Tmax >= 25°C)
				each temprmin, index in monthsShort
					td= data[index].temperatureSummer
				td= data.sums.temperatureSummer
			tr
				td Hot days (Tmax >= 30°C)
				each temprmin, index in monthsShort
					td= data[index].temperatureHot
				td= data.sums.temperatureHot

		tbody.climatograph-precipitation
			tr
				td Average precipitation [mm]
				each rain, index in monthsShort
					td= data[index].rain
				td= data.sums.rain
			tr
				td Precipitation days (>1mm)
				each rainDays, index in monthsShort
					td= data[index].rainDays
				td= data.sums.rainDays

	div.climatograph-readings-range
		each val, index in readingsRange
			div(class='module module-'+index)
				span.module-name= index
				each val2, index in val
					span(class='module-data-'+index)= val2

	div.climatograph-update-wrapper
		span Data seems old? Try 
		a.climatograph-update(data-id=device_id, data-year=year) updating
		span  the climatograph.