doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title WK Netatmo
    style.
        .device-info span {
            display: block;
        }
        .dashboard-data {
            margin-left: 10px;
        }
  body
    p WK Netatmo
    div 
        h2 Station location
        ul
            li City: #{data.place.city}
            li Country: #{data.place.country}
            li 
                img(src="http://staticmap.openstreetmap.de/staticmap.php?center=#{data.place.location[1]},#{data.place.location[0]}&zoom=14&size=600x400&maptype=mapnik&markers=#{data.place.location[1]},#{data.place.location[0]},lightblue1")

    div 
        h2 Current data
        ul
            each device, index in data.devices
                li= device.name
                ul
                    each measure, measureIndex in JSON.parse(device.data_type)
                        li= measure+': '+device.dashboard_data[measure]

    div
        h2 Devices
        ul
            each device, index in data.devices
                li(class="wk-device", data-id=device.id, data-name=device.name) #{device.name}: #{device.id}

    div
        h2 Your data in DB
        ul#available-data

    div
        h2 Get history data from Netatmo
        form#set-data-form
            select#month(name="month")
                option(value="") Whole year
                option(value=0) January
                option(value=1) February
                option(value=2) March
                option(value=3) April
                option(value=4) May
                option(value=5) June
                option(value=6) July
                option(value=7) August
                option(value=8) September
                option(value=9) October
                option(value=10) November
                option(value=11) December
            select#year(name="year")
                option(value=2015) 2015
                option(value=2014) 2014
                option(value=2013) 2013
            select#device_id(name="device_id")
                each device, index in data.devices
                    option(value=device.id)= device.name
            input(type="submit", value="Start")

    div
        h2 Climatograph
        form#generate-climatograph
            input(type="submit", value="Generate")

    script(src="js/compiled/widget.js")
    script.
      var History = new NetatmoHistory();
      History.init();