doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title WK Netatmo
    style.
      #climatograph span {
        display: block;
      }
  body
    p Set history
    form#set-history
      input#set-history-from(type="text", placeholder="HistoryFrom")
      input#set-history-to(type="text", placeholder="HistoryTo")
      input#set-device-id(type="text", placeholder="DeviceID")
      input#set-module-id(type="text", placeholder="ModuleID")
      input#set-device-type(type="text", placeholder="DeviceType")
      input(type="submit")
    p Get history
    p 1420112721, 1446291930, 05:00:00:01:75:0c
    p 1435708800, 1441065599
    form#get-history
      input#get-history-from(type="text", placeholder="HistoryFrom")
      input#get-history-to(type="text", placeholder="HistoryTo")
      input#get-module-id(type="text", placeholder="ModuleID")
      input(type="submit")
    div#climatograph
    div#set-data-form
    div
        h2 Climatograph
        form#generate-climatograph
            input(type="submit", value="Generate")
  script(src="js/compiled/widget.js")
  script.
    var History = new NetatmoHistory();
    History.init();