doctype html
html(lang='en')
  head
    meta(charset='utf-8')
    title WK Netatmo
    style.
        .device-info span {
            display: block;
        }
        .dashboard-data {
            margin-left: 10px;
        }
  body
    p WK Netatmo
    a(href="/dashboard") Grant access to your netatmo station