body
    margin 0
    padding 0px
    margin 0px
    font-family Helvetica, Arial, sans-serif
    overflow hidden

a
    cursor pointer

p
    margin 0
    
.device-info span
    display block

.dashboard-data
    margin-left 10px

#map 
    width 100%

#save
    position absolute
    background white
    bottom 26px
    left 360px
    padding 10px
    width 130px
    border-radius 4px
    transform translate3d(0px,141px,0px)
    transition transform .5s ease-in-out
    text-align center
    &.show
        transform translate3d(0px,0px,0px)

#saveresult
    display none
    font-size 12px
    &.show
        display block

#climatograph
    position absolute
    background white
    top 25px
    left 50%
    margin-left -430px
    width 860px
    min-height 185px
    border-radius 4px
    box-shadow 2px 2px 5px 0px rgba(0,0,0,0.3);
    padding-bottom 20px
    transform translate3d(0px,-270px,0px)
    transition transform .5s ease-in-out
    h1
        margin 0
        margin-bottom 10px
        font-size 16px
        text-align left
        padding 10px
        background-color #e5f2ff
        border-top-left-radius 4px
        border-top-right-radius 4px
    // &:empty
    //     display none
    &.show
        transform translate3d(0px,0px,0px)
        
    .climatograph-precipitation
        display none
            
    &.with-precipitation .climatograph-precipitation
        display table-row-group
    
    .climatograph-spinner
        display none
    &.loading .climatograph-spinner
        display block
        
    table tr 
        & > th:last-child
        & > td:last-child
            border-left 1px solid #000

    .climatograph-days
    .climatograph-precipitation
        tr:first-child td
            border-top 1px solid #000
            
    .climatograph-select-year
        font-size 12px
        position absolute
        top 10px
        right 10px

    .error
        text-align center
        font-size 24px
        margin-top 80px

.climatograph-data
    border-spacing 0
    padding-left 10px
    padding-right 10px
    margin-bottom 10px
    td
        width 50px
        height 20px
        text-align center
        &:first-child
            width 220px
    thead
        background-color #e5f2ff
    tbody 
        &.climatograph-temperature tr:nth-child(even) td:first-child
        &.climatograph-days tr:nth-child(odd) td:first-child
        &.climatograph-precipitation tr:nth-child(even) td:first-child
            background-color #e5f2ff
        td
            &:first-child
                font-size 12px
                
.climatograph-readings-range
    position absolute
    bottom 10px
    left 10px
    font-size 9px
    color #ccc
    & > div
        display inline-block
    .module-name
        display inline-block
        &:first-letter
            text-transform uppercase
    .module-data-from:before
            content ' data from '
    .module-data-to
        &:before
            content ' to '
        &:after
            content '.'
        
.climatograph-update-wrapper
    position absolute
    bottom 10px
    right 10px
    font-size 9px
    color #ccc
    a
        cursor pointer
        color #aaa
        &:hover
            text-decoration underline
            
.climatograph-spinner
    margin 0 auto
    width 100%
    height 100%
    text-align center
    position absolute
    background-color rgba(255,255,255,0.9)
    top 0
    left 0
    border-radius 4px

    & > div
        width 18px
        height 18px
        background-color #5492d1
        top 50%
        position relative
        margin-top -9px

        border-radius 100%
        display inline-block
        animation sk-bouncedelay 1.4s infinite ease-in-out both

.climatograph-spinner .bounce1
    animation-delay -0.32s

.climatograph-spinner .bounce2
    animation-delay -0.16s

@-webkit-keyframes sk-bouncedelay {
    0%, 80%, 100% { -webkit-transform: scale(0) }
    40% { -webkit-transform: scale(1.0) }
}

@keyframes sk-bouncedelay {
    0%, 80%, 100% { 
        -webkit-transform: scale(0);
        transform: scale(0);
    } 40% { 
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

#donate
#about
    position absolute
    border-radius 4px
    background-color #fff
    bottom 26px
    padding 10px
    transition transform .5s ease-in-out
    text-align center
    font-size 11px
    p
        margin-bottom 10px
        text-align left
    &.show
        transform translate3d(0px,0px,0px)

#donate
    width 180px
    height 123px 
    left 185px
    transform translate3d(0px,171px,0px)
    
#about
    width 230px
    height 213px
    left 30px
    transform translate3d(0px,260px,0px)
    
#author-attribution
    position absolute
    left 0
    bottom 0
    font-size 11px
    background rgba(255, 255, 255, 0.7)
    padding 0 5px
    color #333
    z-index 7
    height 16px
    line-height 17px
    a
        color #0078A8
        text-decoration none
        &:hover
            text-decoration underline

#logo
    position absolute
    left 0
    top 0
    font-size 11px
    background rgba(255, 255, 255, 0.7)
    padding 0 5px
    color #333
    z-index 7
    height 16px
    line-height 17px